$white-color:#ffffff;
$ghost_white-color: #f5f4fa;
$whisper-color: #e5e5e5;
$sonic_silver-color: #757575;
$black_rock-color: #2f303a;
$nero-color: #212121;
$dodger_blue-color: #2196f3;
$curious_blue-color: #188ce8;
$dark-color: #212121;
$philippine_silver-color:#afb1b8;
