header {
    background-color: $white-color;
    border-bottom: 1px solid $whisper-color;
    padding: 16px 0px 16px 0px;

    @media screen and (min-width:"768px") {
        padding: 24px 0px 24px 0px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    & li:nth-child(3) {
        margin: 0px 50px 0px 50px;
    }

    &__item--long {
        display: none;

        @media screen and (min-width:"768px") {
            display: flex;
        }
    }

}

.navbar__link {
    color: $dark-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    &:hover {
        color: $dodger_blue-color;
    }

    &:focus {
        color: $dodger_blue-color;
    }

    &-logo {
        // margin-right: 93px;
        font-family: Raleway;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $nero-color;

        @media screen and (max-width:"1200px") {
            margin-right: 88px;
            font-size: 26px;
        }

        @media screen and (min-width:"1200px") {
            margin-right: 93px;
            font-size: 26px;
        }
    }
}

.navbar__link-logo {
    &--blue {
        color: $dodger_blue-color;
    }
}

.header-contacts {
    display: none;

    @media screen and (min-width:"768px") {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width:"1200px") {
        display: flex;
        flex-direction: row;

        & li:nth-child(2) {
            margin-left: 50px;
        }
    }

    &__link {
        height: 16px;
        font-size: 14px;
        color: $sonic_silver-color;
        font-weight: 500;
        display: flex;
        align-content: center;

        &:hover {
            color: $dodger_blue-color;
        }

        @media screen and (min-width:"1200px") {
            justify-content: space-between;
        }
    }
}

.header-contacts__icon {
    &--email {
        margin-top: 2px;
        margin-right: 8px;
        fill: currentColor;

        @media screen and (min-width:"1200px") {
            margin-right: 10px;
        }
    }

    &--smartphone {
        margin-right: 8px;
        fill: currentColor;

        @media screen and (min-width:"1200px") {
            margin-right: 10px;
        }
    }
}

.not-page {
    &::after {
        content: "";
        display: block;
        width: 0px;
        height: 4px;
        background: $dodger_blue-color;
        position: relative;
        top: 29px;
        border-radius: 2px;

        @media screen and (min-width:"1200px") {
            top: 25px;
        }
    }
}

.current-page {
    &::after {
        width: 100%;
    }
}

.burger-btn {
    cursor: pointer;
    background: none;
    border: none;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        display: none;
        opacity: 0;
        overflow: hidden;
    }
}

.burger-btn:hover {
    color: $dodger_blue-color;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-burger {
    fill: currentColor;
}