.our-team {
  background-color: $whisper-color;
  text-align: center;

  &__main-tilte {
    font-size: 28px;
    line-height: 1.17px;

    @media screen and (min-width:"1200px") {
      font-size: 36px;
      line-height: 1.16px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    padding-top: 30px;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $sonic_silver-color;
    padding-top: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;

    // justify-content: space-around;
    @media screen and (min-width:"768px") {
      flex-flow: row wrap;
      gap: 30px;
    }

    @media screen and (min-width:"1200px") {
      margin-top: 50px;
    }
  }

  &__item {
    width: 100%;

    // 
    @media screen and (min-width:"768px") {
      max-width: 354px;
    }

    @media screen and (min-width:"1200px") {
      max-width: 270px;
    }

    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;

    & img {
      width: 100%;
    }
  }

  &__btn-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__btn-item {
    margin-top: 16px;
  }

  &__btn-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $philippine_silver-color;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $white-color;
      background-color: $curious_blue-color;
    }
  }

  &__btn-icon {
    fill: currentColor;
  }

}